<?xml version="1.0" encoding="utf-8"?><!--
KurobaEx - *chan browser https://github.com/K1rakishou/Kuroba-Experimental/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.k1rakishou.chan"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="*/*" />
        </intent>

        <intent>
            <action android:name="com.github.k1rakishou.chan4captchasolver.get_info" />
        </intent>
        <intent>
            <action android:name="com.github.k1rakishou.chan4captchasolver.solve_captcha" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name="com.github.k1rakishou.chan.Chan"
        android:allowBackup="true"
        android:icon="${iconLoc}"
        android:label="${appName}"
        android:requestLegacyExternalStorage="true"
        android:theme="${appTheme}">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--Dual Window support for Samsung and LG-->
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />

        <activity
            android:name="com.github.k1rakishou.chan.activity.StartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:theme="${appTheme}"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="4chan.org" />
                <data android:host="www.4chan.org" />
                <data android:host="boards.4chan.org" />
                <data android:host="4channel.org" />
                <data android:host="www.4channel.org" />
                <data android:host="boards.4channel.org" />

                <data android:host="2ch.hk" />
                <data android:host="www.2ch.hk" />

                <data android:host="lainchan.org" />
                <data android:host="www.lainchan.org" />

                <data android:host="diochan.com" />
                <data android:host="www.diochan.com" />

                <data android:host="8kun.top" />
                <data android:host="www.8kun.top" />

                <data android:host="sushigirl.us" />
                <data android:host="www.sushigirl.us" />

                <data android:host="wired-7.org" />
                <data android:host="www.wired-7.org" />

                <data android:host="370chan.info" />
                <data android:host="www.370chan.info" />

                <data android:host="vhschan.org" />
                <data android:host="www.vhschan.org" />

                <data android:host="archived.moe" />
                <data android:host="www.archived.moe" />

                <data android:host="archiveofsins.com" />
                <data android:host="www.archiveofsins.com" />

                <data android:host="arch.b4k.co" />
                <data android:host="www.arch.b4k.co" />

                <data android:host="desuarchive.org" />
                <data android:host="www.desuarchive.org" />

                <data android:host="boards.fireden.net" />
                <data android:host="www.boards.fireden.net" />

                <data android:host="archive.4plebs.org" />
                <data android:host="www.archive.4plebs.org" />

                <data android:host="archive.nyafuu.org" />
                <data android:host="www.archive.nyafuu.org" />

                <data android:host="tokyochronos.net" />
                <data android:host="www.tokyochronos.net" />

                <data android:host="warosu.org" />
                <data android:host="www.warosu.org" />

                <data android:host="archive.wakarimasen.moe" />
                <data android:host="www.archive.wakarimasen.moe" />

            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SharingActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Chan.TranslucentActivityTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

        </activity>

        <activity
            android:name=".features.media_viewer.MediaViewerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Chan.TranslucentActivityTheme"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.CrashReportActivity"
            android:process=":crashReportProcess"
            android:launchMode="singleTask" />

        <service
            android:name=".features.image_saver.ImageSaverV2Service"
            android:exported="false" />
        <service
            android:name=".features.posting.PostingService"
            android:exported="false" />

        <receiver
            android:name=".core.receiver.SelectedFilePickerBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.receiver.ReplyNotificationDeleteIntentBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.receiver.ImageSaverBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.receiver.PostingServiceBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name=".core.receiver.DiagnosticsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.github.k1rakishou.chan.perform_thread_stack_dump"/>
            </intent-filter>

        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${fileProviderAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>
